/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: center;
    color: rgb(2, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo.jpg");
   

}
.titulo{
font-size: 60px;
color: rgb(0, 0, 0);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.img1{
    height: 300px;
    width: 300px;
    background-image: url("circuito.jfif");
    background-repeat: no-repeat;
    

}

.imgm1{
    height: 200px;
    width: 300px;
    background-image: url(suma\ polinomios.png);
    background-repeat: no-repeat;
    


}



.imgm4{
    height: 200px;
    width: 600px;
    background-image: url(suma\ 5.jpg);
    background-repeat: no-repeat;
    


}

.imgmr2{
    height: 200px;
    width: 600px;
    background-image: url(resta\ 3.png);
    background-repeat: no-repeat;
    


}



.imgm2{
    height: 200px;
    width: 300px;
    background-image: url(resta.png);
    background-repeat: no-repeat;
    

}


.imgm3{
    height: 200px;
    width: 300px;
    background-image: url(multiplicacion.png);
    background-repeat: no-repeat;
    

}

.imgm7{
    height: 200px;
    width: 300px;
    background-image: url(multiplicacion\ 2.png);
    background-repeat: no-repeat;
    

}

.imgmd1{
    height: 200px;
    width: 300px;
    background-image: url(division\ 2.png);
    background-repeat: no-repeat;
    

}

.imgmd2{
    height: 300px;
    width: 700px;
    background-image: url(division\ 1.jpg);
    background-repeat: no-repeat;
    

}

.imgmp1{
    height: 300px;
    width: 700px;
    background-image: url(productos\ notables.png);
    background-repeat: no-repeat;
    

}

.imgme1{
    height: 300px;
    width: 700px;
    background-image: url(ejemplos.png);
    background-repeat: no-repeat;
    

}

.imgme2{
    height: 300px;
    width: 700px;
    background-image: url(ejemplo\ 2.jpeg);
    background-repeat: no-repeat;
    

}


.imgme3{
    height: 300px;
    width: 400px;
    background-image: url(ejemplo\ 3.jfif);
    background-repeat: no-repeat;
    

}

.imgb1{
    height: 300px;
    width: 400px;
    background-image: url(aparato\ reprodctor\ 1.jpg);
    background-repeat: no-repeat;
    

}

.imgb2{
    height: 350px;
    width: 400px;
    background-image: url(hormona\ 1.jpg);
    

}

.imgb3{
    height: 300px;
    width: 600px;
    background-image: url(hormona\ 2.jpg);
    

}

.imgb4{
    height: 200px;
    width: 300px;
    background-image: url(vagi.jfif);
    

}

.imgb5{
    height: 500px;
    width: 560px;
    background-image: url(ciclo.jpg);
    

}

.imgb6{
    height: 135px;
    width: 377px;
    background-image: url(ciclo\ menstrual\ 2.jfif);
    
    

}

.imgq1{
    height: 250px;
    width: 200px;
    background-image: url(confi.png);
    

}

.imgsuno{
    height: 650px;
    width: 1100px;
    background-image: url(sociales\ mapa.jpeg);
    

}

.imgm1{

    height: 400px;
    width: 700px;
    background-image: url(notables\ 1m.jpg);
}

.imgm2{

    height: 400px;
    width: 800px;
    background-image: url(binomio\ 2m.jpg);


}

.imgm3{

    height: 300px;
    width: 400px;
    background-image: url(binomio\ 3m.jfif);
}

.imgm4{

    height: 700px;
    width: 700px;
    background-image: url(cubo\ 4m.jpg);

}

.imgm5{

    height: 400px;
    width: 1300px;
    background-image: url(trinomio\ 5m.jpg);


}

.imgm6{

    height: 300px;
    width: 700px;
    background-image: url(factor\ 6m.jpg);
    background-repeat: no-repeat;

}

.imgm7{

    height: 400px;
    width: 300px;
    background-image: url(diferencia\ 7m.jfif);

}

.imgm8{

    height: 400px;
    width: 500px;
    background-image: url(factor\ 8m.jpg);

}

.imgq1{

    height: 200px;
    width: 300px;
    background-image: url(enlace\ quimico\ 1tercer.jpg);
    background-repeat: no-repeat;

}

.imgq2{

    height: 400px;
    width: 400px;
    background-image: url(ionico\ 2q.jpg);
    background-repeat: no-repeat;

}

.imgq3{

    height: 300px;
    width: 400px;
    background-image: url(covalente\ 3q.jfif);
    background-repeat: no-repeat;

}

.imgq4{

    height: 300px;
    width: 300px;
    background-image: url(metalico\ 4q.jpg);
    background-repeat: no-repeat;
    
}

.imgq5{

    height: 400px;
    width: 300px;
    background-image: url(hidrogeno\ 5q.jfif);
    background-repeat: no-repeat;
    
}

.imgq6{

    height: 900px;
    width: 2000px;
    background-image: url(mapa\ q6.jpeg);
    background-repeat: no-repeat;

}

.imgs1{

    height: 900px;
    width: 1000px;
    background-image: url(mapa\ s1.jpeg);
    background-repeat: no-repeat;

}

.imgb1{

    height: 400px;
    width: 600px;
    background-image: url(fertilizacion\ b1.jpg);

}

.imgb2{

    height: 700px;
    width: 700px;
    background-image: url(segmentacion\ b2.jpg);
    background-repeat: no-repeat;

}

.imgb3{

    height: 400px;
    width: 400px;
    background-image: url(gastrulacion\ b3.jpg);

}

.imgb4{

    height: 400px;
    width: 400px;
    background-image: url(organogenesis\ b4.jfif);
    background-repeat: no-repeat;

}

.imgb5{

    height: 600px;
    width: 800px;
    background-image: url(prenatal\ b5.jpeg);
    background-repeat: no-repeat;
}

.imgb6{

    height: 400px;
    width: 500px;
    background-image: url(dilatacion\ b6.jpg);
    background-repeat: no-repeat;
}

.imgb7{

    height: 500px;
    width: 400px;
    background-image: url(expulsion\ b7.jfif);
    background-repeat: no-repeat;

}

.imgb8{

    height: 400px;
    width: 400px;
    background-image: url(alumbramiento\ b8.jfif);
    background-repeat: no-repeat;
    
}

.imgt1{

    height: 600px;
    width: 800px;
    background-image: url(excel\ t1.jpg);
    background-repeat: no-repeat;

}

.imgt2{

    height: 300px;
    width: 300px;
    background-image: url(suma\ t2.jpg);
    background-repeat: no-repeat;

}

.imgt3{

    height: 500px;
    width: 600px;
    background-image: url(promedio\ t3.jpg);

}